.button-div{
  text-align: center;
  padding-top: 300px;
  button{
    border: none;
    padding: 10px;
    font-size: 14pt;
    margin: 20px 100px;
  }
}

.spacing-div{
  height: 1200px;
  position: relative;
  span{
    position: absolute;
    bottom: 20px;
    left: 0;
  }
}
